body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

* {
  margin: 0;
}

.landing {
  background-color: #0a0a0a;
  height: 100vh;
}

.landing .navbar {
  overflow: hidden;
  background-color: #0a0a0a;
  position: relative;
}

.landing .navbar #navitems {
  display: none;
  position: fixed;
}

.landing .navbar #navitems a:hover {
  background-color: grey;
  color: white;
}

.landing .navbar a {
  color: silver;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 70px;
  display: block;
}

.landing .navbar a.icon {
  font-size: 50px;
  display: block;
  position: fixed;
}

.landing .navbar .about, .landing .navbar .projects, .landing .navbar .contact {
  font-size: 30px;
}

.landing .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.landing #landingimage {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}

.landing h1 {
  color: silver;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 70px;
}

.landing #chevron {
  text-align: center;
}

.landing #chevron i {
  color: silver;
}

#about h1 {
  color: #0a0a0a;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#about .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
}

#about .bio .img {
  background-image: url("./Images/about-img.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 200px;
}

#about .bio > * {
  width: 300px;
}

#about .bio > *:nth-child(2) #bio-image {
  height: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0 auto;
  position: relative;
}

#about .bio p {
  color: #0a0a0a;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}

#skills {
  padding: 10px;
  padding-bottom: 40px;
}

#skills h1 {
  color: silver;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#skills .skill-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

#skills .skill-icons p, #skills .skill-icons i {
  text-align: center;
  color: #f71e6e;
  width: 150px;
}

#skills .skill-icons p {
  color: #0a0a0a;
}

#projects h1 {
  color: #0a0a0a;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#projects h3 {
  color: #0a0a0a;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}

#projects .project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .project-cards .project-links {
  color: #f71e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#projects .project-cards #project1, #projects .project-cards #project2, #projects .project-cards #project3, #projects .project-cards #project4 {
  border: 5px solid #0a0a0a;
  border-radius: 5px;
}

#projects .project-cards #project1 img, #projects .project-cards #project2 img, #projects .project-cards #project3 img, #projects .project-cards #project4 img {
  width: 250px;
  height: 250px;
}

#projects .project-cards #project1 h4, #projects .project-cards #project2 h4, #projects .project-cards #project3 h4, #projects .project-cards #project4 h4 {
  color: #0a0a0a;
  font-size: 20px;
  -webkit-text-emphasis: bold;
          text-emphasis: bold;
  text-align: center;
}

#projects .project-cards #project1 p, #projects .project-cards #project2 p, #projects .project-cards #project3 p, #projects .project-cards #project4 p {
  color: grey;
  font-size: 13px;
  text-align: center;
}

#contact h1 {
  color: #0a0a0a;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#contact h3 {
  color: #0a0a0a;
  text-align: center;
}

#contact .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #0a0a0a;
}

#contact p {
  color: grey;
  font-size: 13px;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .bio > * {
    width: 200px;
    padding: 30px;
  }
}

@media screen and (max-width: 700px) {
  .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bio > * {
    width: 100% !important;
    padding: 20px;
  }
  .bio .img {
    height: 300px;
  }
  #skills .skill-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .landing h1 {
    height: 5px;
  }
  .landing #landingimage {
    display: block;
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  #about .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #project1, #project2, #project3 {
    margin-bottom: 25px;
  }
}
/*# sourceMappingURL=style.css.map */